
<style>
body {background-color: powderblue;}
h1   {/* Impactful */

position: absolute;
width: 642px;
height: 80px;
left: 63px;
top: 59px;

font-family: Miniver;
font-style: normal;
font-weight: normal;
font-size: 150px;
line-height: 219px;

color: #944654;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
p    {color: red;}
</style>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-transparent" style="padding-top: 5%;">
    <!-- 'fixed-top' option keeps it in place-->
    <div class="container navbar-inner">

      <a class="navbar-brand" href="{% url 'home' %}">
        <h1>Impactful</h1></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}"><p style="font-weight: 900; color: white;">About<p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><p style="font-weight: 900; color: white;">Contact<p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><p style="font-weight: 900; color: white;">Guide<p></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
